{{- /* 显示神明图片的信息，原本想要通过tips_icon显示，新用的slide不支持这个，所以放在tip里给一个链接到这个页面  */ -}}

{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.game $lang -}}
{{- $games := $dataLang.game_lists -}}
{{- $happy_worship := where $games "id" "happy_worship" -}}
{{- $tips := (index $happy_worship 0).tips -}}
{{- $gods := (index $happy_worship 0).gods -}}


<div class="wrap">

    <div class="game_happy_worship_god_info flex flex-column align-items-center justify-content-center text-center">

        <a class="btn margin-tb-1rem" href="../happy_worship">
            {{ T "back_to_game" }}
        </a>

        <div class="flex flex-column align-items-center gap-1rem">

            {{ range $index, $slide := $gods }}
            {{- $path := $slide.img -}}
            {{- $alt := $slide.name -}}
            <div class="flex gap-1rem shadow-box padding-1rem border-radius-_5rem align-items-center width-100">
                <div class="god-img-info">
                    {{ partial "tools/img-res.html" (dict "class" "god-img width-5rem" "imagePath" $path "alt" $alt "imageWidth" 15) }}
                </div>

                <div class="text-left">
                    {{ $slide.description | markdownify }}
                </div>
            </div>
            {{ end }}
        </div>


    </div>

    {{- /* back to top */ -}}
    <button id="backToTopBtn" title="Go to top">⬆️</button>

</div>

{{- end -}}