{{- /* 游戏，赛马 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.game $lang -}}
{{- $games := $dataLang.game_lists -}}
{{- $horseRacing := where $games "id" "horse_racing" -}}
{{- $tips := (index $horseRacing 0).tips -}}
{{- $horses := (index $horseRacing 0).horses -}}
{{- $msg_not_enought_lucky_point := (index $horseRacing 0).msg_not_enought_lucky_point -}}


<div class="wrap">

    <div class="game_horse_racing">

        {{- /* 游戏介绍，第一个页面 */ -}}
        <div class="game_intro padding-tb-1rem flex flex-column gap-1rem align-items-center border-radius-_5rem">

            {{- /* 游戏标题 */ -}}
            <div class="game_title flex align-items-center gap-_5rem padding-tb-1rem">
                <div class="title font-size-2">{{ T "horse_racing" }}</div>

                <div class="tips_icon">
                    <span class="font-size-1_5 cursor-pointer">👀</span>
                    {{ partial "tools/popup_tips.html" (dict "tipsContent" $tips) }}
                </div>
            </div>

            {{- /* 下注：马的信息，选择几号马；下注金额 */ -}}
            {{- /* 马的信息，选择几号马 */ -}}
            <form class="form_horse_select width-100">
                <div class="header padding-1rem text-center font-size-1_5">
                    {{- T "select_horse" -}}
                </div>

                <div class="body horses flex gap-1rem align-items-center padding-tb-1rem">
                    {{ range $index, $horse := $horses }}
                    <label for="horse_{{ add $index 1 }}"
                        class="flex flex-column gap-1rem align-items-center shadow-box border-radius-_5rem padding-_5rem">
                        <p class="font-size-1_2">{{ add $index 1 }}</p>
                        <div class="info_icon_btn cursor-pointer overflow-hidden border-radius-_5rem">
                            {{- $path := $horse.img -}}
                            {{- $alt := $horse.name -}}
                            {{ partial "tools/img-res.html" (dict "class" "horse_img" "imagePath" $path "alt" $alt
                            "imageWidth" 32) }}
                            {{ partial "tools/popup_info_btn.html" (dict "infoContent" $horse.description) }}
                        </div>

                        <input type="radio" id="horse_{{ add $index 1 }}" name="select_horse"
                            value="{{ add $index 1 }}" required />

                    </label>
                    {{ end }}
                </div>

                <div class="footer flex gap-1rem align-items-center justify-content-center">
                    <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                    <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                </div>

            </form>

            {{- /* 用户下注 */ -}}
            <form class="form_bet_amount">
                <div class="header padding-1rem text-center font-size-1_5">
                    {{- T "bet" -}}
                </div>

                <div class="body bet_amount flex flex-column gap-1rem align-items-center padding-tb-1rem">
                    <div class="flex gap-1rem align-items-center">
                        <div class="font-size-1_2">{{ T "your_available_lucky_point" }}</div>
                        <div class="var_total_lucky_point font-size-1_5"></div>
                    </div>
                    
                    <label for="amount">{{ T "enter_bet_amount" }}(1-100 {{ T "integer" }})</label>
                    <input type="number" id="amount" min="1" max="100" name="bet_amount" required>
                </div>

                <div class="footer flex gap-1rem align-items-center justify-content-center">
                    <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                    <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                </div>

                

            </form>

        </div>

        <div class="not_enough_lucky_point info_icon">
            {{- $infoType := "warning" -}}
            {{- $infoContent := $msg_not_enought_lucky_point -}}
            {{- partial "tools/popup_info.html" (dict "infoType" $infoType "infoContent" $infoContent) -}}
        </div>

        {{- /* 等待匹配用户 */ -}}
        <div class="match text-center hide font-size-1_5">
            {{ T "player_matching" }}
            <span class="loading font-size-1_5">
                <span class="dot">.</span>
                <span class="dot">.</span>
                <span class="dot">.</span>
            </span>
        </div>

        {{- /* 匹配用户成功 */ -}}
        <div class="match_success text-center hide font-size-1_5">{{ T "match_success" }}</div>


        {{- /* 匹配用户，显示下注详情 */ -}}
        <div class="game_match flex flex-column align-items-center">

            
            
            <div class="bet_info width-100">

                {{- /* 当前用户 */ -}} 
                <div class="current_user_bet_info flex flex-column gap-1rem align-items-center shadow-box border-radius-_5rem padding-1rem margin-tb-1rem">
                    <div class="current_user_bet_horse flex gap-1rem align-items-center">
                        <div class="font-size-1_2">{{ T "the_horse_you_bet" }}</div>
                        <div class="var_current_user_bet_horse font-size-1_5">5</div>
                    </div>
                    <div class="current_user_bet_amount flex gap-1rem align-items-center">
                        <div class="font-size-1_2">{{ T "your_bet_amount" }}</div>
                        <div class="var_current_user_bet_amount font-size-1_5">5</div>
                    </div>
                        
                </div>

                {{- /* 总体情况 */ -}}
                <div class="total_user_bet_info flex flex-column gap-1rem align-items-center shadow-box border-radius-_5rem padding-1rem margin-tb-1rem">
                    <div class="total_user_number flex gap-1rem align-items-center">
                        <div class="font-size-1_2">{{ T "total_player" }}</div>
                        <div class="var_total_user_bet_horse font-size-1_5">50</div>
                    </div>
                    <div class="total_user_bet_amount flex gap-1rem align-items-center">
                        <div class="font-size-1_2">{{ T "total_bet_amount" }}</div>
                        <div class="var_total_user_bet_amount font-size-1_5">30000</div>
                    </div>
                </div>

                <div class="total_user_bet_detail flex flex-column gap-_5rem align-items-center shadow-box border-radius-_5rem padding-1rem margin-tb-1rem">

                    <div class="flex gap-1rem align-items-center">
                        <div class=" width-2rem text-center font-size-1_2 text-center">{{ "🐎" }}</div>

                        <div class="font-size-1_2 width-5rem text-center">{{ T "player_number" }}</div>
                        <div class="font-size-1_2 width-5rem text-center">{{ T "bet_amount" }}</div>
                    </div>

                    {{ range $index, $horse := $horses }}
                        <div class="flex gap-1rem align-items-center">
                            <div class="horse_color horse_color_{{ add $index 1 }} border-round padding-_5rem width-2rem text-center">{{ add $index 1}}</div>

                            <div class="var_user_horse_{{ add $index 1 }} width-5rem text-center">3</div>
                            <div class="var_bet_amount_horse_{{ add $index 1 }} width-5rem text-center">30000</div>
                        </div>
                    {{ end }}
                </div>

                <div class="text-center">
                    <button id="readyToStart" class="btn btn_ok">{{ T "start_game" }}</button>
                </div>

            </div>
        </div>

        {{- /* 游戏进行中， gaming */ -}}
        <div class="game_playing flex flex-column gap-1rem align-items-center">
            
            <div class="text-center">

                {{- /* 
                    
                <button id="startGame" class="btn btn_start_game hide">{{ T "start_game" }}</button>
                */ -}}
                <div class="count_down font-size-1_5"></div>
                <div class="txt_racing font-size-1_5">
                    {{ T "racing" }}
                    <span class="loading">
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                    </span>
                </div>
            </div>

            <div class="current_user_bet_horse flex gap-1rem align-items-center">
                <div class="font-size-1_2">{{ T "the_horse_you_bet" }}</div>
                <div class="var_current_user_bet_horse font-size-1_5"></div>
            </div>

            
            <div class="track flex flex-column gap-_5rem align-items-start">
                {{ range $index, $horse := $horses }}
                <div class="lane flex align-items-center" data-lane="{{ add $index 1 }}">
                    <div class="horse_in_lane width-fit-content">
                        <img src="/image/game/horse_racing/horse.gif" class="horse_img_in_lane horse_color_{{ add $index 1 }}">
                    </div>
                </div>
                {{ end }}
            </div>

            <button id="boostButton" class="btn hide">{{ "boost" }}</button>
        </div>

        {{- /* 游戏结果， result */ -}}
        <div class="game_result flex flex-column gap-1rem align-items-center">
            <div class="font-size-1_2">{{ T "racing_result" }}</div>
            <div class="result_success font-size-1_2 hide">
                <span>{{ T "you_win" }}, </span>
                <span>{{ "🧧+ " }}</span>
                <span class="var_win_lucky_point"></span>
            </div>
            <div class="result_lose font-size-1_2 hide">
                <span>{{ T "you_lost" }}, </span>
                <span>{{ T "wining_horse_is" }}: </span>
                <span class="var_winner font-size-1_2"></span>
            </div>
            <div class="btn_area flex gap-1rem align-items-center justify-content-center">
                <button id="resetGame" class="btn btn_reset_game cursor-pointer">{{ T "once_again" }}</button>
                {{- /* 分享网站 */ -}}
                {{- partial "tools/popup_info_share.html" (dict "lang" .Lang) }}
            </div>
        
            {{- /* Google adense shakagame.com-04 */ -}}
            <div class="google_ad margin-tb-1rem">
                <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2994572689024438"
                    crossorigin="anonymous"></script>
                <!-- shakagame.com-04 -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2994572689024438"
                    data-ad-slot="6023085196" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>

    </div>

    {{- end -}}