/* page: rank, body - pc */

body {

}


.var_other_user_avatar {
    padding: 2rem;
    border-radius: 100%;
    background-color: #8E7AB5;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
}

.user_loyal_info_title {

    min-width: 8rem;
}

.var_achievement_user_lucky_point,
.var_achievement_user_level,
.var_achievement_user_game_time,
.var_achievement_user_read_time {

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}




/* page: rank, body - pc - end */


/* page: rank, body - mobile */
@media screen and (max-width: 48rem) {

    .var_achievement_user_lucky_point,
    .var_achievement_user_level,
    .var_achievement_user_game_time,
    .var_achievement_user_read_time {

        grid-template-columns: repeat(4, 1fr);
    }
    

}