{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.game $lang -}}
{{- $games := $dataLang.game_lists -}}
{{- $happy_worship := where $games "id" "happy_worship" -}}
{{- $tips := (index $happy_worship 0).tips -}}
{{- $gods := (index $happy_worship 0).gods -}}
{{- $offerings := (index $happy_worship 0).offerings -}}
{{- $msg_end_worship := (index $happy_worship 0).msg_end_worship -}}
{{- $msg_not_enought_lucky_point := (index $happy_worship 0).msg_not_enought_lucky_point -}}

<div class="wrap">

    <div class="game_happy_worship flex flex-column align-items-center justify-content-center text-center">

        <div class="game-title flex align-items-center gap-_5rem justify-content-center">
            <div class="title font-size-2 cursor-pointer">{{ T "customize_title" }}</div>
            
            <div class="tips_icon">
                <span class="font-size-1_5 cursor-pointer">👀</span>
                {{ partial "tools/popup_tips.html" (dict "tipsContent" $tips) }}
            </div>
            
        </div>
    
        {{- /* 点击game-title后打开popup-form-game-title */ -}}
        <div class="popup-form-game-title popup_form popup_box">
            <div class="popup_box_content">
              <form class="form-game-title">
                <div class="header">
                  <span class="icon">✏️</span>
                  {{- T "edit_title" -}}
                </div>
          
                <div class="body">
                    <input class="game-title-input" type="text" id="game_title_input" name="game_title_input" minlength="1" maxlength="15" placeholder="{{ T "happy_worship" }}(1-15)" required pattern=".*\S.*">
                </div>
          
                <div class="footer">
                  <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                  <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                </div>
                
              </form>
            </div>
        </div>
        
        <div class="god-imgs">

            
            <!-- <script src="/js/game/happy_worship/splide.min.js"></script> -->

            <div class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                      <ul class="splide__list">
                        {{ range $index, $slide := $gods }}
                        {{- $path := $slide.img -}}
                        {{- $alt := $slide.name -}}

                        <li class="splide__slide">
                            {{ partial "tools/img-res.html" (dict "class" "god-img" "imagePath" $path "alt" $alt "imageWidth" 32) }}
                            {{- /* partial "tools/popup_info_btn.html" (dict "infoContent" $slide.description) */ -}}
                        </li>
                        

                        {{ end }}
                      </ul>
                </div>
            </div>
            
              <script>
                new Splide( '.splide' ).mount();
              </script>

        </div>

        <div class="table position-relative flex justify-content-center cursor-pointer">

            {{- /* 桌子图案 */ -}}
            {{- $class := "table-img" -}}
            {{- $path := "/image/game/happy_worship/table.png" -}}
            {{- $alt := "table" -}}
            {{ partial "tools/img-res.html" (dict "class" $class "imagePath" $path "alt" $alt "imageWidth" 32) }}

            {{- /* 点击提示 */ -}}
            <button class="btn btn_open btn_open_form_offerings position-absolute">👉 {{ T "add_offerings" }}</button>
    
            {{- /* 供品图案 */ -}}
            <div class="offerings-in-page position-absolute flex justify-content-center flex-wrap font-size-1_2 cursor-pointer">
        
            </div>
           
        </div>
    
        <div class="popup-form-offerings popup_form popup_box">
            <div class="popup_box_content">
              <form class="form-offerings">
                <div class="header">
                    {{- T "add_offerings" -}}
                </div>
          
                <div class="body">
                    
                    {{- with $offerings -}}
                        {{- range sort . "weight" "asc" -}}
                            <label for="{{- .id -}}" class="label-img-text-in-form flex flex-column gap-_5rem align-items-center justify-content-center">
                                <p class="label-text-in-form width-100 text-center">{{- .name -}}</p>
                                <div class="label-img-in-form">
                                    {{- .content -}}  
                                </div>
                                <input type="checkbox" id="{{- .id -}}" name="select-offerings" value="{{- .content -}}" />
                            </label>
                        {{- end -}}
                    {{- end -}}
                    
                </div>
          
                <div class="footer">
                  <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                  <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                </div>
                
              </form>
            </div>
        </div>     
    
        <div class="incense-img position-relative flex flex-column align-items-center">
    
            {{- /* 香火图案 */ -}}
            <div class="incense-in-page flex justify-content-around align-items-center position-absolute">
    
            </div>         
            
            {{- /* 香炉图案 */ -}}
            <div class="stove align-items-center justify-content-center position-absolute cursor-pointer">
                {{ partial "tools/img-res.html" (dict "imagePath" "/image/game/happy_worship/stove.png" "alt" "an image of stove"
                "imageWidth" 16) }}
            </div>

            {{- /* 点击提示 */ -}}
            <button class="btn btn_open btn_open_form_incense position-absolute">👉 {{ T "add_incense" }}</button>
    
        </div>
    
        <div class="popup-form-incense popup_form popup_box">
            <div class="popup_box_content">
              <form class="form-incense">
                <div class="header">
                    {{- T "add_incense" -}}
                </div>
          
                <div class="body">
                    {{ range $i, $n := (seq 1 3) }}
                            <label for="incense_{{ $n }}" class="label-img-text-in-form flex flex-column gap-_5rem align-items-center justify-content-center">
                                
                                    <p class="label-text-in-form width-100 text-center">{{- $n -}}</p>
                                    <div class="label-img-in-form incense-items width-50 flex align-items-center justify-content-around">
                                        {{ range $j, $m := (seq 1 (add $n 0)) }}
                                        <div class="incense-item">
                                            <div class="incense-head"></div>
                                            <div class="incense-body"></div>
                                        </div>
                                        {{ end }}
                                    </div>

                                <input type="radio" id="incense_{{ $n }}" name="select-incense" value="{{ $n }}" />
                            </label>
                            {{ end }}
                </div>
          
                <div class="footer">
                  <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                  <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                </div>
                
              </form>
            </div>
        </div>   
    
        <button class="btn btn_open  btn_open_worship_box hide position-relative">👉 {{ T "start_worship" -}}</button>

        {{- /* 幸运值不够的情况，允许用户选择一个供品，一根香开始崇拜，这里是提示信息 */ -}}
        <div class="not_enough_lucky_point info_icon">
            {{- $infoType := "warning" -}}
            {{- $infoContent := $msg_not_enought_lucky_point -}}
            {{- partial "tools/popup_info.html" (dict "infoType" $infoType "infoContent" $infoContent) -}}
        </div>
    
        <div class="worship_box width-100 hide position-relative">
            <div class="pray-txt flex flex-column align-items-start">
                <p class="worship_title">{{- T "worshiping" -}}...</p>
                <p>{{- T "time_left" -}}: <span class="count-down">35</span>s</p>
            </div>
    
            <div class="worship_thumb flex align-items-center justify-content-around">
                {{- $path := "/image/game/happy_worship/bgm_thumb.png" -}}
                {{- $alt := "bgm thumb image" -}}
                {{ partial "tools/img-res.html" (dict "class" "bgm-thumb rotate-animation cursor-pointer" "imagePath" $path "alt" $alt "imageWidth" 6) }}
                
            </div>
            
        </div>
    
        <div class="overlay hide">
            
            <div id="bubble-container"></div>
        </div>
    
        <div class="msg_end_worship info_icon">
            {{- $infoType := "success" -}}
            {{- $msg := printf "<p>%s <span class=\"bubble-count\">1</span></p>" $msg_end_worship -}}
            {{- $infoContent := $msg -}}
            {{- partial "tools/popup_info.html" (dict "infoType" $infoType "infoContent" $infoContent) -}}
        </div>

    </div>

</div>

{{- end -}}