{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.game $lang -}}
{{- $games := $dataLang.game_lists -}}
{{- $happy_worship := where $games "id" "happy_worship" -}}
{{- $tips := (index $happy_worship 0).tips -}}
{{- $gods := (index $happy_worship 0).gods -}}
{{- $tableImg := (index $happy_worship 0).table_img -}}
{{- $stoveImg := (index $happy_worship 0).stove_img -}}
{{- $thumbImg := (index $happy_worship 0).thumb_img -}}
{{- $tipsMissData := (index $happy_worship 0).tips_miss_data -}}
{{- $tipsClickBubble := (index $happy_worship 0).tips_click_bubble -}}

<div class="wrap">

    <div class="game_happy_worship flex flex-column align-items-center justify-content-center text-center">

        {{/* 
        <div class="info_icon">
            {{- partial "tools/popup_info.html" (dict "infoType" "normal" "infoContent" $tipsClickBubble) }}
        </div>

        */}}

        <div class="tips_icon_force_close">

            {{- partial "tools/popup_info_btn.html" (dict "infoContent" $tipsClickBubble) }}

        </div>

        

        <!-- <button class="btn_start_game btn_game btn_game_blue">{{ "start_game" }}</button> -->
        
        <div class="god_img margin-top-1rem">

            <img src="/apple-touch-icon.png" alt="god image" class="god-img" loading="lazy">

        </div>

        <div class="table position-relative flex justify-content-center cursor-pointer">

            {{- /* 桌子图案 */ -}}
            {{- $class := "table-img" -}}
            {{ partial "tools/img-res.html" (dict "class" $class "imagePath" $tableImg "alt" "an image of a table" "imageWidth" 32) }}
    
            {{- /* 供品图案 */ -}}
            <div class="offerings-in-page position-absolute flex justify-content-center flex-wrap font-size-1_2 cursor-pointer">
        
            </div>
           
        </div>
    
 
    
        <div class="incense-img position-relative flex flex-column align-items-center">
    
            {{- /* 香火图案 */ -}}
            <div class="incense-in-page flex justify-content-around align-items-center position-absolute">

                {{ range $i, $n := (seq 1 3) }}

                    <div class="incense_id incense_{{ $n }} flex flex-column gap-_5rem align-items-center justify-content-center padding-_5rem width-5rem">
                        

                            <div class="incense-items width-50 flex align-items-center justify-content-around">

                                {{ range $j, $m := (seq 1 (add $n 0)) }}

                                    <div class="incense-item">
                                        <div class="incense-head"></div>
                                        <div class="incense-body"></div>
                                    </div>

                                {{ end }}
                            </div>

                        </div>

                {{ end }}
                
            </div>         
            
            {{- /* 香炉图案 */ -}}
            <div class="stove align-items-center justify-content-center position-absolute cursor-pointer">
                {{ partial "tools/img-res.html" (dict "imagePath" $stoveImg "alt" "an image of stove"
                "imageWidth" 16) }}
            </div>

    
        </div>
 
    
        <div class="worship_box width-100 position-relative flex align-items-center justify-content-between padding-1rem border-radius-_5rem bg-white">
            <div class="pray-txt flex flex-column gap-1rem align-items-start">
                <p class="worship_title">{{- T "worshiping" -}}...</p>
                <p>{{- T "time_left" -}}: <span class="count-down">35</span><span class="var_i18n_time_second"></span></p>
            </div>
    
            <div class="worship_thumb flex align-items-center justify-content-around">

                {{ partial "tools/img-res.html" (dict "class" "bgm-thumb rotate-animation cursor-pointer" "imagePath" $thumbImg "alt" "bgm thumb image" "imageWidth" 6) }}
                
            </div>
            
        </div>
    
        <div class="overlay">
            
            <div id="bubble-container"></div>
        </div>

    </div>

    {{- partial "game/popup_miss_data.html" (dict "tipsContent" $tipsMissData) }}

</div>

{{- end -}}