body {

}

.container {
    position: relative;
    /* border: 2px solid #333; */
    overflow: hidden;
    background-color: #fff;
}

.image {

    cursor: pointer;
}




.wish_content_other,
.wish_content_my,
.wish_content_record_index,
.wish_content_record_content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* 先应用居中，再缩放 */
    z-index: 1;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0; /* 隐藏时透明 */
    /* background-color: #f5f5dc; */
    padding: 5rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    width: 300px;
    height: 420px;
    background: url('/image/secret/wish_lantern/bg_content.jpg') no-repeat center center / cover;
    overflow: hidden;
}

.wish_content_other.active,
.wish_content_my.active,
.wish_content_record_index.active,
.wish_content_record_content.active {
    transform: translate(-50%, -50%) scale(1); /* 保持居中，放大 */
    opacity: 1;
    display: flex;
}

.wish_content_other_txt,
#userInput,
.var_wish_content_record_index,
.var_wish_content_record_content {

    width: 250px;
    height: 200px;
    /* color: black; */
    color: #646464;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-family: serif;
    z-index: 2;
}

.btn_close_wish_content_other,
.btn_close_wish_content_my,
.btn_close_wish_content_record_index,
.btn_close_wish_content_record_content {

    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); /* 先应用居中，再缩放 */
    z-index: 20;
    animation: pulse2 1.5s infinite ease-in-out;
}

@keyframes pulse2 {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1); /* 初始大小 */
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2); /* 变大到1.2倍 */
    }
}


.btn_open_wish_content_my {

    height: 80px;
    width: 80px;
    position: absolute;
    top: 20px;
    left: 20px;
    /* transform: translate(-50%, -50%);  */
    z-index: 30;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* 初始大小 */
    }
    50% {
        transform: scale(1.5); /* 变大到1.2倍 */
    }
}

.btn_open_wish_content_record_index {

    height: 80px;
    width: 80px;
    position: absolute;
    top: 20px;
    right: 20px;
    /* transform: translate(-50%, -50%);  */
    z-index: 30;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



#userInput {

    resize: none;
    border: none;
    background: transparent;
}

#userInput:focus-visible {

    outline: none;
}

.record_item {

    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.record_item:hover {

    color: burlywood;

}

.wish_content_record_index_title {

    color: #646464;
    font-family: serif;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.wish_content_record_index {

    padding-top: 0;
}


.record_item .record_content {
    width: 200px; /* 根据需要调整宽度 */
    white-space: nowrap; /* 保持在单行显示 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.record_item .record_icon {

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.record_item .record_icon img {

    height: 30px;
    width: 30px;
}



.star_item {
    position: absolute;
    /* Required for positioning stars */
    width: 1rem;
    height: 1rem;
    background-image: url('/image/secret/wish/star.png');
    /* Ensure correct path */
    background-size: contain;
    /* Ensure the star image fits within the span */
    background-repeat: no-repeat;
    /* Prevents tiling of the star image */
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.star_item:hover {
    transform: scale(3, 3) rotate(180deg) !important;
    transition: all 1s;
}


@media screen and (max-width: 48rem) {


}