body {

}

.page_left {

    width: 42rem;
}

.page_right {

    width: 21rem;
}

ul {

    list-style: none;
}

li {

    margin: 0.5rem 0;
}


@media screen and (max-width: 48rem) {

    .page_left,
    .page_right {

        width: 100%;
    }

    .page_dream_interpretation {

        flex-direction: column;
    }

    .single_image {

        width: 6rem;
    }
}