{{- /* 树洞，许愿池 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.secret $lang -}}
{{- $secrets := $dataLang.secret_list -}}
{{- $wish := where $secrets "id" "wish" -}}
{{- $tipsMissData := (index $wish 0).tips_miss_data -}}


<div class="wrap">

    <div class="game_wish_fountain">

        <div class="page_input">

            {{- /* 输入框：愿望内容 */ -}}
            <div class="wish_content margin-tb-1rem align-items-center justify-content-center">

                <form class="form_wish bg-color-04 border-radius-_3rem padding-1rem">
                    
                    <div class="body flex flex-column gap-1rem align-items-center padding-tb-1rem">
           
                        <label for="wish_content" class="font-size-1_5">{{ T "enter_wish_content" }}</label>
                        <input type="text" id="wish_content" minlength="1" maxlength="30" name="wish_content" placeholder="{{ T "wish here" }} (1-30)" required>
                    </div>
    
                    <div class="footer flex gap-1rem align-items-center justify-content-center">
                        <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                        <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                    </div>

                </form>

            </div>

            {{- partial "game/popup_miss_data.html" (dict "tipsContent" $tipsMissData) }}

        </div>

        {{- partial "google_adsense/05.html" }}

    </div>

    {{- end -}}