{{- /* 树洞，许愿池 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.secret $lang -}}
{{- $secrets := $dataLang.secret_list -}}
{{- $wish := where $secrets "id" "wish" -}}
{{- $tips := (index $wish 0).tips -}}


<div class="wrap">

    <div class="game_wish_fountain">

        <div class="page_list">

            {{- /* 游戏标题 */ -}}
            <div class="game_title flex align-items-center justify-content-center gap-_5rem padding-tb-1rem">
                <div class="title font-size-2">{{ T "wish" }}</div>

                <div class="tips_icon">
                    <span class="font-size-1_5 cursor-pointer">👀</span>
                    {{ partial "tools/popup_tips.html" (dict "tipsContent" $tips) }}
                </div>
            </div>

            <div class="list_img_area text-center">

                {{- partial "tools/img-res.html" (dict "class" "list_img" "imagePath" "/image/secret/wish/list.png" "alt" "Star" "imageWidth" 32) }}
            </div>


            {{- /* 按钮：我要许愿 */ -}}
            <div class="text-center">
                <div class="btn_start_game btn_game btn_game_blue margin-tb-1rem">{{ T "make_a_wish" }}</div>
            </div>

            {{- partial "google_adsense/05.html" }}

        </div>

        

        

        

    </div>

    {{- end -}}