{{- /* 树洞，许愿池 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.secret $lang -}}
{{- $secrets := $dataLang.secret_list -}}
{{- $wish := where $secrets "id" "wish" -}}
{{- $inPageTipsContent := (index $wish 0).in_page_tips -}}
{{- $tipsMissData := (index $wish 0).tips_miss_data -}}


<div class="wrap">

    <div class="game_wish_fountain">

        

        <div class="page_wish overflow-hidden">

            {{- partial "tools/hide_page_all_tips.html" }}

            {{- partial "tools/in_page_tips.html" (dict "inPageTipsContent" $inPageTipsContent "tipsType" "normal") }}

            {{- /* 流星 */ -}}
            <div class="meteor_area z-_1">
                <div class="line-box" id="line-box">
                </div>
            </div>

            
            


            {{- /* 许愿池 */ -}}
            <div class="pool position-relative">
                <div class="pool_1">
                    {{- /* 月亮 */ -}}
                    <div class="moon_1 z-1 cursor-pointer hide"></div>
                    <div class="moon_2 z-1 cursor-pointer"></div>

                    {{- /* 星星 */ -}}
                    <div class="star"></div>

                    {{- /* 变体： 愿望内容 */ -}}
                    <div class="wish_txt flex align-items-center justify-content-center">
                        <div class="var_wish_content font-size-2 color-white text-center margin-0-auto"></div>
                    </div>
                    
                </div>
            </div>

            

            {{- /* 蜡烛 */ -}}
            <div class="candle_area position-relative margin-0-auto flex gap-1rem align-items-center justify-content-between">

                <div class="candle_left">
                    {{ $sizes := slice "1.5rem" "1rem" "0.8rem" }}
                    {{ range $index, $size := $sizes }}
                    <div class="candle margin-0-auto out" data-size="{{ $size }}" onClick="this.classList.toggle('out');">
                        <div class="candle-flame"></div>
                        <div class="candle-body"></div>
                    </div>
                    {{ end }}
                </div>
                

                <div class="candle_right">
                    {{ $sizes := slice "1.5rem" "1rem" "0.8rem" }}
                    {{ range $index, $size := $sizes }}
                    <div class="candle margin-0-auto out" data-size="{{ $size }}" onClick="this.classList.toggle('out');">
                        <div class="candle-flame"></div>
                        <div class="candle-body"></div>
                    </div>
                    {{ end }}
                </div>
            </div>
        
        

            


            {{- /* 按钮：再来一次，分享 */ -}}
            <div class="flex flex-column gap-1rem align-items-center justify-content-center">

                <a href="../" class="btn_restart_game btn_game btn_game_blue cursor-pointer">{{  T "once_again" }}</a>
                
                {{- partial "tools/btn_share_site.html" }}
            </div>


        </div>


        


        {{- partial "game/popup_miss_data.html" (dict "tipsContent" $tipsMissData) }}

        

    </div>

    {{- end -}}