{{- /* 游戏，博彩，3位数，玩家参与页面 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.game $lang -}}
{{- $games := $dataLang.game_lists -}}
{{- $toto_3 := where $games "id" "toto_3" -}}
{{- $msg_not_enought_lucky_point := (index $toto_3 0).msg_not_enought_lucky_point -}}
{{- $msg_bet_stop := (index $toto_3 0).msg_bet_stop -}}
{{- $tipsType := "normal" -}}
{{- $inPageTipsContentPageBetBetNumber := (index $toto_3 0).in_page_tips_content_page_bet_bet_number -}}
{{- $inPageTipsContentPageBetBetMultiple01 := (index $toto_3 0).in_page_tips_content_page_bet_bet_multiple_1 -}}
{{- $inPageTipsContentPageBetBetMultiple02 := (index $toto_3 0).in_page_tips_content_page_bet_bet_multiple_2 -}}


<div class="wrap">

    <div class="game_toto_3_bet">

        <div class="page_bet flex gap-1rem justify-content-between">

            <div class="page_bet_left">

                {{- /* 游戏首页 & 兑奖页面 */ -}}
                <div class="go_to_other_page flex gap-1rem justify-content-between align-items-center">

                    {{- /* 返回上层 */ -}}
                    <a href="../">
                        <div class="btn">{{ T "lottery_home" }}</div>
                    </a>
    
                    {{- /* 前往兑奖 */ -}}
                    <a href="../bonus">
                        <div class="btn">{{ T "lottery_bonus" }}</div>
                    </a>
    
                </div>

                {{- /* 隐藏当前页面上的所有提示 */ -}}
                {{- partial "tools/hide_page_all_tips.html" }}


                {{- /* 显示轮次信息 */ -}}
                <div class="round_info flex flex-column gap-_5rem margin-tb-1rem">
                    <div class="flex gap-1rem align-items-center">
                        <div>{{ T "round_number" }}{{ " : " }}</div>
                        <div class="var_round_number_index_0 var_round_number font-size-1_5"></div>
                    </div>
        
                    <div class="flex gap-1rem align-items-center">
                        <div>{{ T "status" }}{{ ": " }}</div>
                        <div class="var_round_status_index_0 padding-_5rem bg-purple border-radius-_5rem color-white"></div>
                    </div>

                    {{- /* 显示下一轮更新倒计时 */ -}}
                    <div class="flex gap-1rem align-items-center">
                        <div>{{ T "next_round_count_down" }}: </div>
                        <div class="var_next_round_count_down font-size-1_5"></div>
                    </div>


                </div>

                {{- /* 用户参与区域： 下注，展示下注信息 */ -}}
                <div class="user_bet_area flex flex-column gap-_5rem align-items-center justify-content-between margin-tb-1rem border-radius-_5rem padding-1rem bg-grey-1">
        
                    {{- /* 下注 */ -}}
                    <div class="bet width-100">
                        <form class="form_bet">
                            <div class="header padding-_5rem text-center font-size-1_5">
                                {{- T "bet" -}}
                            </div>
            
                            <div class="body bet_amount flex flex-column gap-1rem padding-tb-1rem">
                                <div class="flex gap-1rem align-items-center justify-content-between">
                                    <div>{{ T "your_available_lucky_point" }}: </div>
                                    <div class="var_total_lucky_point font-size-1_5"></div>
                                </div>

                                
            
                                <div class="flex gap-_5rem align-items-center justify-content-between">
                                    <label for="bet_number" class="width-15rem">{{ T "bet_number" }}(0-999 {{ T "integer" }}): </label>
                                    <input type="number" id="bet_number" min="0" max="999" name="bet_number" required>
                                </div>

                                {{- /* 游戏规则 -- 可点击取消 */ -}}
                                {{- partial "tools/in_page_tips.html" (dict "inPageTipsContent" $inPageTipsContentPageBetBetNumber "tipsType" $tipsType) }}
            
                                <div class="flex gap-_5rem align-items-center justify-content-between">
                                    <div class="width-15rem">{{ T "single_bet_cost_lucky_point" }}: </div>
                                    <div class="font-weight-600 font-size-1_5 text-right width-5rem">1</div>
                                </div>
            
                                <div class="flex gap-_5rem align-items-center justify-content-between">
                                    <label for="bet_multiple" class="width-15rem">{{ T "bet_multiple" }}(1-100 {{ T "integer" }}): </label>
                                    <input type="number" id="bet_multiple" min="1" max="100" name="bet_multiple" value="1" required>
                                </div>

                                {{- /* 游戏规则 -- 可点击取消 */ -}}
                                {{- partial "tools/in_page_tips.html" (dict "inPageTipsContent" $inPageTipsContentPageBetBetMultiple01 "tipsType" $tipsType) }}

                                {{- /* 游戏规则 -- 可点击取消 */ -}}
                                {{- partial "tools/in_page_tips.html" (dict "inPageTipsContent" $inPageTipsContentPageBetBetMultiple02 "tipsType" $tipsType) }}
                                
                                
                            </div>
            
                            <div class="footer flex gap-1rem align-items-center justify-content-center">
                                
                                <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                                
                                
                                <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                            </div>
            
                            
            
                        </form>
        
                        {{- /* 提醒--积分不足 */ -}}
                        <div class="not_enough_lucky_point info_icon">
                            {{- $infoType := "warning" -}}
                            {{- $infoContent := $msg_not_enought_lucky_point -}}
                            {{- partial "tools/popup_info.html" (dict "infoType" $infoType "infoContent" $infoContent) -}}
                        </div>

                        {{- /* 提醒-- 不可下注：封盘 */ -}}
                        <div class="bet_stop info_icon">
                            {{- $infoType := "warning" -}}
                            {{- $infoContent := $msg_bet_stop -}}
                            {{- partial "tools/popup_info.html" (dict "infoType" $infoType "infoContent" $infoContent) -}}
                        </div>
        
        
                    </div>
        
                    {{- /* 用户下注信息展示 */ -}}
                    <div class="popup_user_bet_info popup_tips popup_box">
                        <div class="popup_box_content">
                        <div class="header">
                            <span class="icon">💡</span>{{- T "tips" -}}
                        </div>
                        
                        <div class="body">
                    
                            <div class="content">
                                <div class="curretn_user_bet_detail flex flex-column gap-1rem">
        
                                    {{- /* 用户下注信息：期号 */ -}}
                                    <div class="flex gap-_5rem align-items-center">
                                        <div>{{ T "round_number" }}{{ " : " }}</div>
                                        <div class="var_current_round_number font-size-1_5"></div>
                                    </div>
                    
                                    {{- /* 用户下注信息：号码 */ -}}
                                    <div class="flex gap-_5rem align-items-center">
                                        <div>{{ T "bet_number" }}: </div>
                                        <div class="var_current_user_bet_number">
                    
                                            <div class="flex gap-_5rem align-items-center justify-content-center">
                                                {{ range $index, $item := seq 1 3 }}
                                                    <div class="var_current_user_bet_number_{{ add $index 1 }} win_number_part border-round padding-_5rem flex justify-content-center align-items-center color-white width-2rem height-2rem"></div>
                                                {{ end }}
                                                
                                            </div>
                                        </div>
                                    </div>
                    
                                    {{- /* 用户下注信息：注数 */ -}}
                                    <div class="flex gap-_5rem align-items-center">
                                        <div>{{ T "bet_multiple" }}: </div>
                                        <div class="var_current_user_bet_multiple font-size-1_5">1</div>
                                    </div>
                    
                                    {{- /* 用户下注信息：金额 */ -}}
                                    <div class="flex gap-_5rem align-items-center">
                                        <div>{{ T "bet_amount" }}: </div>
                                        <div class="var_current_user_bet_amount font-size-1_5"></div>
                                    </div>
                    
                                    
                                    {{- /* 手机端提示用户下滑查看记录 -- 同时查看广告 */ -}}
                                    <div class="down_check_bet_record height-2rem text-left">
                                        {{- T "lottery_check" }}{{ T "bet_record" -}}
                                        <span class="down_check_bet_record_icon font-size-1_2">👇</span>
                                    </div>
                    
                                </div>
                            </div>
                            
                        </div>
                    
                        <div class="footer">
                            <button class="btn btn_get_it">{{ T "get_it" }}</button>
                        </div>
                        </div>
                    </div>

                    {{- /* 封盘的时候，提醒用户可以前往兑奖页面 */ -}}
                    <div class="popup_go_to_page_bonus popup_tips popup_box">
                        <div class="popup_box_content">
                        <div class="header">
                            <span class="icon">💡</span>{{- T "tips" -}}
                        </div>
                        
                        <div class="body">
                    
                            <div class="content">
                                <div class="font-size-1_2">
        
                                    {{ T "bet_stop_you_can_go_to_page" }}
                                    <a href="../bonus">{{ T "lottery_bonus" }}</a>
                                    {{ T "wait_for_bonus" }}.
                    
                                </div>
                            </div>
                            
                        </div>
                    
                        <div class="footer">
                            <button class="btn btn_get_it">{{ T "get_it" }}</button>
                        </div>
                        </div>
                    </div>
        
                </div>

            </div>
    
            <div class="page_bet_right">

                {{- /* Google adense shakagame.com-04 */ -}}
                <div class="google_ad margin-tb-1rem">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2994572689024438"
                        crossorigin="anonymous"></script>
                    <!-- shakagame.com-04 -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2994572689024438" data-ad-slot="6023085196"
                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                {{- /* 用户下注历史记录：因为同一期用户可能会多次下注，且选择不同号码，所以需要展示相关信息 */ -}}
                <div class="user_bet_record flex flex-column gap-_5rem align-items-center border-radius-_5rem padding-_5rem bg-white width-100">

                    <div class="font-size-1_5 margin-tb-1rem text-center width-100">{{ T "bet_record" }}</div>
        
                    <div class="record_item_1 flex align-items-center justify-content-between width-100">
                        <div class="current_user_bet_number text-center">{{ T "bet_number" }}</div>
                        <div class="current_user_bet_multiple text-center">{{ T "bet_multiple" }}</div>
                        <div class="current_user_bet_amount text-center">{{ T "bet_amount" }}</div>
                    </div>
        
                    {{- /* 用户本期下注记录 */ -}}
                    <div class="var_user_bet_record flex flex-column gap-1rem width-100">
        
                        {{- /* 这里到时用js生成，因为用户的每次投注记录都要更新在下边 */ -}}
                        <div class="record_item flex gap-_5rem">
                            <div class="var_current_user_bet_number">
                                {{ range $index, $item := seq 1 3 }}
                                    <div class="var_win_number_part_{{ add $index 1 }} bg-purple border-round padding-_5rem flex justify-content-center align-items-center color-white width-2rem height-2rem"></div>
                                {{ end }}
                            </div>
                            <div class="var_current_user_bet_multiple">5</div>
                            <div class="var_current_user_bet_amount">10</div>
                        </div>
                        
        
                    </div>
        
                </div>
    
    
            </div>

        </div>

        
        
    </div>
    

</div>

{{- end -}}