{{- /* 页面，弹幕 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.secret $lang -}}
{{- $secrets := $dataLang.secret_list -}}
{{- $bullet := where $secrets "id" "bullet" -}}
{{- $tips := (index $bullet 0).tips -}}




<div class="wrap">

    <div class="page_bullet">

        <div class="game-title flex align-items-center gap-_5rem margin-0-auto justify-content-center">
            <div class="title font-size-2 color-white">{{ "Biu biu" }}</div>
            
            <div class="tips_icon">
                <span class="tips_icon_in_page">❔</span>
                {{ partial "tools/popup_tips.html" (dict "tipsContent" $tips) }}
            </div>

        </div>

        <div class="bullet_container" id="bulletContainer"></div>

        

        <div class="bullet_input_area flex gap-_5rem align-items-center z-10">
            <input type="text" class="bullet_input" id="bulletInput" placeholder="{{ T "leave_msg" }}(1-25)" maxlength="25">
            <button class="btn btn_send cursor-pointer">{{ "🚀" }}</button>
        </div>

        

        

    </div>

</div>

{{- end -}}