{{- define "main" -}}


{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.secret $lang -}}
{{- $secretList := $dataLang.secret_list -}}
{{- $app := where $secretList "id" "show_love_flower" -}}
{{- $appName := (index $app 0).name -}}
{{- $tips := (index $app 0).tips -}}
{{- $tipsStartGame := (index $app 0).tips_start_game -}}
{{- $userInputPlaceHolder := (index $app 0).user_input_placeholder -}}

<div class="wrap">

  <div class="show_love_flower">

    {{- /* 游戏提示 */ -}}
    <div class="tips_icon_force_close">

        {{- partial "tools/popup_info_btn_game_style.html" (dict "infoContent" $tipsStartGame) }}

    </div>

    {{- /* 游戏标题 */ -}}
    <div class="game_title flex align-items-center justify-content-center gap-_5rem padding-tb-1rem">
        <div class="title font-size-2">{{- $appName -}}</div>

        <div class="tips_icon">
            <span class="tips_icon_in_page">❔</span>
            {{ partial "tools/popup_tips.html" (dict "tipsContent" $tips) }}
        </div>
    </div>

    {{- /* 游戏内容 */ -}}
    <div class="container margin-0-auto position-relative" id="container">

      {{- /* 游戏背景 -  */ -}}
      <div id="bg_img"></div>

      {{- /* 心愿内容 */ -}}
      <div class="wish_content_other flex justify-content-center">

        <div class="wish_content_other_txt"></div>

        <img src="/image/secret/wish_lantern/light.svg" class="btn_close_wish_content_other cursor-pointer">

      </div>

      {{- /* 用户输入心愿 */ -}}
      <img src="/image/secret/wish_lantern/light.svg" class="btn_open_wish_content_my cursor-pointer">

      <div class="wish_content_my flex justify-content-center">


        <textarea id="userInput" placeholder="{{ $userInputPlaceHolder }}" class="padding-_5rem"></textarea>

        <img src="/image/secret/wish_lantern/light.svg" class="btn_close_wish_content_my cursor-pointer">

      </div>


      {{- /* 用户心愿记录 */ -}}
      <img src="/image/secret/wish_lantern/light.svg" class="btn_open_wish_content_record_index cursor-pointer">

      {{- /* 用户心愿记录 - 索引 */ -}}
      <div class="wish_content_record_index flex flex-column justify-content-center">

        <div class="wish_content_record_index_title font-size-1_5 text-center margin-tb-_5rem">{{ T "wish_records" }}</div>

        <div class="var_wish_content_record_index flex flex-column gap-_5rem"></div>

        <img src="/image/secret/wish_lantern/light.svg" class="btn_close_wish_content_record_index cursor-pointer">

      </div>

      {{- /* 用户心愿记录 - 内容 */ -}}
      <div class="wish_content_record_content flex justify-content-center">

        <div class="var_wish_content_record_content"></div>

        <img src="/image/secret/wish_lantern/light.svg" class="btn_close_wish_content_record_content cursor-pointer">

      </div>


    </div>

    {{- /* 广告 */ -}}
    {{- partial "google_adsense/05.html" }}

  </div>

</div>
{{- end -}}