{{- /* 树洞，许愿池 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $tips := index .Site.Data.secret.page_wish_tips $lang -}}


<div class="wrap">

    <div class="game_wish_fountain overflow-hidden">

        {{- /* 游戏标题 */ -}}
        <div class="game_title flex align-items-center justify-content-center gap-_5rem padding-tb-1rem">
            <div class="title font-size-2 color-white">{{ T "wish" }}</div>

            <div class="tips_icon">
                <span class="font-size-1_5 cursor-pointer">👀</span>
                {{ partial "tools/popup_tips.html" (dict "tipsContent" $tips) }}
            </div>
        </div>


        {{- /* 许愿池 */ -}}
        <div class="pool position-relative">
            <div class="pool_1">
                <div class="pool_2">

                    {{- /* 月亮 */ -}}
                    <div class="moon_1 z-1 cursor-pointer hide"></div>
                    <div class="moon_2 z-1 cursor-pointer hide"></div>

                    {{- /* 星星 */ -}}
                    <div class="star"></div>

                    {{- /* 变体： 愿望内容 */ -}}
                    <div class="wish_txt flex align-items-center justify-content-center">
                        <div class="var_wish_content font-size-2 color-white text-center margin-0-auto hide"></div>
                    </div>
                    

                </div>
            </div>
        </div>

        {{- /* 按钮：我要许愿 */ -}}
        <div class="text-center">
            <div class="btn_start_game btn_game btn_game_blue margin-tb-1rem">{{ T "make_a_wish" }}</div>
        </div>

        {{- /* 输入框：愿望内容 */ -}}
        <div class="wish_content margin-tb-1rem align-items-center justify-content-center hide">
            <form class="form_wish">
                

                <div class="body flex flex-column gap-1rem align-items-center padding-tb-1rem">

                    
                    <label for="wish_content" class="color-white">{{ T "enter_wish_content" }}(1-30)</label>
                    <input type="text" id="wish_content" minlength="1" maxlength="30" name="wish_content" placeholder="{{ T "wish here" }}" required>
                </div>

                <div class="footer flex gap-1rem align-items-center justify-content-center">
                    <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                    <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                </div>

                

            </form>
        </div>

        

        

        {{- /* 蜡烛 */ -}}
        <div class="candle_area position-relative margin-0-auto flex gap-1rem align-items-center justify-content-between">

            <div class="candle_left">
                {{ $sizes := slice "1.5rem" "1rem" "0.8rem" }}
                {{ range $index, $size := $sizes }}
                  <div class="candle margin-0-auto out" data-size="{{ $size }}" onClick="this.classList.toggle('out');">
                    <div class="candle-flame"></div>
                    <div class="candle-body"></div>
                  </div>
                {{ end }}
              </div>
              

            <div class="candle_right">
                {{ $sizes := slice "1.5rem" "1rem" "0.8rem" }}
                {{ range $index, $size := $sizes }}
                  <div class="candle margin-0-auto out" data-size="{{ $size }}" onClick="this.classList.toggle('out');">
                    <div class="candle-flame"></div>
                    <div class="candle-body"></div>
                  </div>
                {{ end }}
            </div>
        </div>
        
        

        {{- /* 流星 */ -}}
        <div class="meteor_area z-_1 hide">
            <div class="line-box" id="line-box">
            </div>
        </div>


        {{- /* 按钮：再来一次，分享 */ -}}
        <div class="btn_area flex gap-1rem align-items-center justify-content-center">
            <div class=" btn_restart_game btn cursor-pointer">{{  T "once_again" }}</div>
            {{- /* 分享网站 */ -}}
            {{- partial "tools/popup_info_share.html" (dict "lang" .Lang) }}
        </div>

        

    </div>

    {{- end -}}