{{- /* 游戏，许愿池 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.game $lang -}}
{{- $games := $dataLang.game_lists -}}
{{- $horseRacing := where $games "id" "horse_racing" -}}
{{- $tips := (index $horseRacing 0).tips -}}


<div class="wrap">

    <div class="game_wish_fountain">

        {{- /* 游戏标题 */ -}}
        <div class="game_title flex align-items-center justify-content-center gap-_5rem padding-tb-1rem">
            <div class="title font-size-2">{{ T "horse_racing" }}</div>

            <div class="tips_icon">
                <span class="font-size-1_5 cursor-pointer">👀</span>
                {{ partial "tools/popup_tips.html" (dict "tipsContent" $tips) }}
            </div>
        </div>

        {{- /* 蜡烛 */ -}}
        <div class="candle_area position-relative margin-0-auto">
            <div class="flex gap-1rem align-items-center">
                {{ range seq 1 4 }}
                    <div class="candle margin-0-auto" onClick="this.classList.toggle('out');">
                        <div class="candle-flame"></div>
                        <div class="candle-body"></div>
                    </div>
                {{ end }}
            </div>
        </div>
        
        {{- /* 礼花 */ -}}
        <div class="bokeh_area position-relative margin-0-auto">
            <div>
                {{ range seq 1 100 }}
                    <div class="bokeh"></div>
                {{ end }}
            </div>
        </div>

        {{- /* 流行 */ -}}
        <div class="meteor_area">
            <div class="line-box" id="line-box">
            </div>
        </div>

        


        {{- /* 4个方位，上下左右，各一支蜡烛，依次出现，熄灭的，围绕水池 */ -}}



        {{- /* 显示输入框，用户输入完就发送 */ -}}



        {{- /* 4个方位，上下左右，各一支蜡烛，依次出现，点亮的，围绕水池，播放音乐 */ -}}



        {{- /* 出现流星 */ -}}



        {{- /* 按钮：再来一次，分享 */ -}}


        

    </div>

    {{- end -}}