{{- define "main" -}}


{{- $lang := .Lang -}}

<div class="wrap">

  <div class="margin-tb-1rem text-center padding-1rem rose_icon cursor-pointer">

    {{ "✨✨🍀 " }}
    <span class="var_daily_quote font-size-1_2">🍀🎋</span>
    {{ " 🎋✨✨" }}

    {{- partial "tools/popup_rose.html" }}
  </div>

  <div class="game-lists">

    {{- $dataLang := index .Site.Data.luck .Lang -}}

    {{- with $dataLang.luck_lists -}}

      {{- range sort . "weight" "asc" -}}

          <div class="list-item">

              {{- $path := .cover -}}

              {{- $alt := .id -}}

              <a href="{{- .id | urlize -}}/" class="position-relative">

                  <div class="game-cover border-radius-_5rem">

                    {{ partial "tools/img-res.html" (dict "imagePath" $path "alt" $alt "imageWidth" 20) }}

                    <div class="game-title">

                      {{- .name -}}

                    </div>

                  </div>

              </a>

          </div>

      {{- end -}}
      
    {{- end -}}

  </div>

</div>
{{- end -}}