{{- define "main" -}}

{{- /* rank */ -}}
{{- /* 布局：目前是4个
  1. 幸运值；
  2. 等级；
  3. 游戏次数；
  4. 阅读次数；

  实现逻辑：
  1. js会初始化生成30位随机用户的信息；
  2. 加入当前用户的信息到数据集里。
  3. 根据从高到低的排序得到前5位的信息；
  
  */ -}}
{{- /* rank */ -}}


<div class="wrap margin-tb-1rem">

  {{- /* 展示用户信息卡 */ -}}
  <div class="popup_user_info_card popup_box">
    <div class="popup_box_content">
      <div class="header">
        <span class="icon">🗂️</span>{{- T "user_info" -}}
      </div>
      
      <div class="body">
  
        <div class="content flex flex-column gap-1rem">

            {{- /* 用户头像 */ -}}
            <div class="flex align-items-center gap-1rem">
              <div class="width-8rem text-right">🎃 {{ T "user_avatar" }}:</div>
              <div class="user_info_card_user_avatar font-size-1_5"></div>
            </div>

            {{- /* 用户名称 */ -}}
            <div class="flex align-items-center gap-1rem">
              <div class="width-8rem text-right">🫅 {{ T "user_name" }}:</div>
              <div class="user_info_card_user_name font-size-1_5"></div>
            </div>

            {{- /* 用户签名 */ -}}
            <div class="flex align-items-center gap-1rem">
              <div class="width-8rem text-right">✨ {{ T "signature" }}:</div>
              <div class="user_info_card_user_description"></div>
            </div>

            {{- /* 用户生日 */ -}}
            <div class="flex align-items-center gap-1rem">
              <div class="width-8rem text-right">🎂 {{ T "birthday" }}:</div>
              <div class="font-size-1_5">******</div>
            </div>

            {{- /* 用户幸运值 */ -}}
            <div class="flex align-items-center gap-1rem">
              <div class="width-8rem text-right">🧧 {{ T "lucky_point" }}:</div>
              <div class="user_info_card_lucky_point font-size-1_5"></div>
            </div>

            {{- /* 用户等级 */ -}}
            <div class="flex align-items-center gap-1rem">
              <div class="width-8rem text-right">🎢 {{ T "user_level" }}:</div>
              <div class="user_info_card_user_level font-size-1_5"></div>
            </div>

            {{- /* 游戏次数 */ -}}
            <div class="flex align-items-center gap-1rem">
              <div class="width-8rem text-right">🎮 {{ T "game_time" }}:</div>
              <div class="user_info_card_game_time font-size-1_5"></div>
            </div>

            {{- /* 阅读次数 */ -}}
            <div class="flex align-items-center gap-1rem">
              <div class="width-8rem text-right">📖 {{ T "read_time" }}:</div>
              <div class="user_info_card_read_time font-size-1_5"></div>
            </div>


        </div>
          
      </div>
  
      <div class="footer">
        <button class="btn btn_get_it">{{ T "get_it" }}</button>
      </div>
    </div>
  </div>
  
  <div class="rank_lucky_point padding-_5rem margin-top-1rem">

    <a href="../my/" class="color-black-hover">
      <div class="font-size-1_5 text-center">{{ T "rank" }}: {{ T "lucky_point" }} 🧧</div>
    </a>
    
    <div class="var_rank_lucky_point flex flex-column gap-_5rem align-items-center margin-tb-1rem shadow-box border-radius-_5rem padding-1rem">
    </div>

  </div>
  
  <div class="rank_user_level padding-_5rem margin-top-1rem">
    <a href="../my/" class="color-black-hover">
      <div class="font-size-1_5 text-center">{{ T "rank" }}: {{ T "user_level" }} 🎢</div>
    </a>

    <div class="var_rank_user_level flex flex-column gap-_5rem align-items-center margin-tb-1rem shadow-box border-radius-_5rem padding-1rem"></div>
  </div>
  
  <div class="rank_game_time padding-_5rem margin-top-1rem">
    <a href="../game/" class="color-black-hover">
      <div class="font-size-1_5 text-center">{{ T "rank" }}: {{ T "game_time" }} 🎮</div>
    </a>

    <div class="var_rank_game_time flex flex-column gap-_5rem align-items-center margin-tb-1rem shadow-box border-radius-_5rem padding-1rem"></div>
  </div>
  
  <div class="rank_read_time padding-_5rem margin-top-1rem">
    <a href="../topic/" class="color-black-hover">
      <div class="font-size-1_5 text-center">{{ T "rank" }}: {{ T "read_time" }} 📖</div>
    </a>
    
    <div class="var_rank_read_time flex flex-column gap-_5rem align-items-center margin-tb-1rem shadow-box border-radius-_5rem padding-1rem"></div>
  </div>
  
  </div>
{{- end -}}