/* page: bullet， 弹幕 */
body {

}

body {
    margin: 0;
    /* overflow: hidden; */
    background: url('/image/secret/bullet/ai-generated-8750163_1920.jpg') no-repeat center center / cover;
}

header {
    opacity: 0.7;
    position: relative;
    z-index: 20;
}

header:hover {
    opacity: 1;
}

.logo-lang a,
.menu-icon {
    color: white;
}

main {
    max-width: 100%;
}

.game-title {
    opacity: 0.7;
}

.game-title:hover {
    opacity: 1;
}



.bullet_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bullet_input_area {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

.bullet_input_area:hover {
    opacity: 1;
}

.bullet_input {
    min-width: 15rem;
}


.bullet_content {
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    animation: moveLeft linear;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.bullet_content.user_input {
    /* background-color: rgba(255, 255, 255, 0.5); */
    border: 0.3rem solid red;
    z-index: 1;
    
}



@keyframes moveLeft {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}



