{{- /* like faq for user */}}
{{- /* 表格内容变化的地方太多，不适合饮用，所以拿来复制就可以了 */}}


<div class="{{- /* popup class */ -}} popup_form popup_box">
  <div class="popup_box_content">
    <form class="{{- /* form class */ -}}">
      <div class="header">
        <span class="icon">{{- /* icon */ -}}</span>
        {{- /* title */ -}}
      </div>

      <div class="body">

      </div>

      <div class="footer">
        <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
        <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
      </div>
      
    </form>
  </div>
</div>