{{- /* 谷歌广告代码 01 */}}
{{- /* 放在一般是正方形的地方 */}}
{{- /* partial "google_adsense/01.html" */}}


{{- /* Google adense shakagame.com-01 */ -}}
<div class="google_ad margin-tb-1rem">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2994572689024438"
        crossorigin="anonymous"></script>
    <!-- shakagame.com-01 -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2994572689024438" data-ad-slot="1213709080"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>