{{- /* 树洞，表白 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.secret $lang -}}
{{- $secrets := $dataLang.secret_list -}}
{{- $showLove := where $secrets "id" "show_love" -}}
{{- $tips := (index $showLove 0).tips -}}


<div class="wrap">

    <div class="secret_show_love">

        <div class="page_list">

            {{- /* 游戏标题 */ -}}
            <div class="game_title flex align-items-center justify-content-center gap-_5rem padding-tb-1rem">
                <div class="title font-size-2">{{ T "show_love" }}</div>

                <div class="tips_icon">
                    <span class="tips_icon_in_page">❔</span>
                    {{ partial "tools/popup_tips.html" (dict "tipsContent" $tips) }}
                </div>
            </div>

            {{- /* bgm */ -}}
            <div class="margin-tb-_5rem flex align-items-center justify-content-center">

                <div class="toggle-switch font-size-1_2">
                    <input type="checkbox" name="bgm" id="bgm">
                    <label for="bgm"><span>🔔</span></label>
                </div>

            </div>


            {{- /* 星星 */ -}}
            <div class="star"></div>


            {{- /* 表白墙 */ -}}
            <div class="wall">

                {{ range $i := seq 1 10 }}

                        <div class="wall_content wall_content_{{ $i }} bg-color-0{{ mod $i 4 | default 4 }} overflow-hidden cursor-pointer">

                            <div class="title flex align-items-center gap-1rem padding-bottom-_5rem">

                                <div class="var_user_from"></div>
                                <div>{{ "🩷" }}</div>
                                <div class="var_user_to"></div>
                    
                            </div>

                            <div class="content margin-tb-_5rem line-height-1_5"></div>

                            <div class="icon text-center">

                                {{- partial "tools/img-res.html" (dict "class" "image" "imagePath" "/image/secret/show_love/icon.png" "alt" "a couple" "imageWidth" 10) }}

                            </div>
                        </div>


                {{ end }}


            </div>


            <div class="link flex align-items-center justify-content-center gap-1rem text-center margin-tb-1rem">

                <a href="./record" class="btn_game btn_game_purple">{{ "🔖" }}</a>
                <a href="./show_love_to" class="btn_game btn_game_blue">{{ "💘" }}</a>
            </div>

            {{- partial "google_adsense/05.html" }}

        </div>

    </div>

    {{- end -}}