{{- /* 树洞，表白 */ -}}
{{- define "main" -}}
{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.secret $lang -}}
{{- $secrets := $dataLang.secret_list -}}
{{- $showLove := where $secrets "id" "show_love" -}}
{{- $tips := (index $showLove 0).tips -}}


<div class="wrap">

    <div class="secret_show_love">

        <div class="page_show_love_to">

            {{- partial "google_adsense/05.html" }}

            <div class="flex align-items-center justify-content-center">


                <form class="form_show_love_to flex flex-column gap-_5rem">

                    
              
                    <div class="body">

                        <div class="flex flex-column gap-_5rem align-items-center justify-content-between">

                            <input type="text" id="user_from" name="user_from" minlength="1" maxlength="20" placeholder="{{ T "your_name" }}" required pattern=".*\S.*">

                            <input type="text" id="user_to" name="user_to" minlength="1" maxlength="20" placeholder="{{ T "his_or_her_name" }}" required pattern=".*\S.*">

                            <div class="flex flex-column align-items-center bg-white border-radius-_3rem">
                                <textarea id="love_words" name="love_words" placeholder="{{ T "your_love_words" }}" required pattern=".*\S.*"></textarea>

                                <div class="flex align-items-center justify-content-between width-100">

                                    <img src="/image/secret/show_love/cat.gif" class="cat_img">

                                    {{- partial "tools/img-res.html" (dict "class" "show_love_to_image" "imagePath" "/image/secret/show_love/icon_show_love_to.png" "alt" "a couple" "imageWidth" 10) }}

                                </div>
                                

                            </div>
                        </div>
                        
                    </div>
              
                    <div class="footer flex align-items-center justify-content-between">
                      <button class="btn btn_reset" type="reset">{{ T "cancel" }}</button>
                      <button class="btn btn_submit" type="submit">{{ T "submit" }}</button>
                    </div>
                    
                </form>

            </div>

            

            

            

        </div>

    </div>

    {{- end -}}