{{ define "main" }}

{{- /* 得到当前语言 */ -}}
{{ $lang := .Lang }}

{{- /* 得到所有文章 */ -}}
{{ $pages := where .Site.RegularPages "Section" "topic" }}

{{- /* 去掉需要隐藏的文章 */ -}}
{{- $pages = where $pages ".Params.hide" "!=" true -}}

  <div class="wrap">

    {{- /* 趣味提示 */ -}}
      <div class="rose_icon cursor-pointer">
        {{- partial "tools/popup_rose.html" }}
      </div>

    <div class="page_home flex gap-1rem padding-tb-1rem">

      

      <div class="left flex flex-column gap-1rem">

      {{- /* 电子钟，link to my，目的是签到 */ -}}
      <div class="digital-clock shadow-box padding-_5rem border-radius-_5rem">


        <a href="./my/">
            <div class="time flex gap-_5rem align-items-center">
                <span class="hours">00</span>
                <span class="dots">:</span>
                <span class="minutes">00</span>
                <div class="right-side">
                    <span class="period">AM/PM</span>
                    <span class="seconds">00</span>
                </div>
            </div>
            <div class="calender">
                <span class="year">year</span>-
                <span class="month-name">Month</span>-
                <span class="day-num">00</span>
                <span class="day-name">Day</span>
            </div>
        </a>
        
      </div>

      {{- /* 分享按钮 */ -}}
      {{- partial "tools/popup_info_share_site.html" (dict "lang" .Lang) }}

      {{- /* 推荐阅读 - by weight */ -}}
      <div class="topic-recommond shadow-box border-radius-_5rem padding-1rem">

        <div class="font-size-1_5 margin-bottom-1rem">🔥 {{ T "hot_posts" }}</div>
        {{- range first 5 (sort $pages "Weight" "desc") -}}
          <div class="topic-item flex gap-_5rem align-items-center margin-bottom-1rem">

            {{ with . }}
            {{- /* 封面图片: pc端需求5rem,放15rem，清晰点 - 这里翻了3倍，是因为手机端的大小没有变化 */ -}}
            <div class="topic-cover">
              {{- $imagePath := .Params.cover -}}
              {{- $alt := "image" -}}
              <a href="{{ .RelPermalink }}">
                {{- partial "tools/img-res.html" (dict "imagePath" $imagePath "alt" $alt "imageWidth" 20) }}
              </a>
            </div>

            {{- /* 文字部分 */ -}}
            <div class="topic-text flex flex-column">

              {{- /* 标题, 取前边45个字符 */ -}}
              <div><a href="{{ .RelPermalink }}" class="font-weight-400 color-black">{{ .Title | truncate 45}}</a></div>

            </div>
            
          {{ end }}
            
          </div>
        {{- end -}}
      </div>

      </div>
  
  
      <div class="center">

        <div class="game-lists shadow-box padding-_5rem border-radius-1rem">

          {{- $dataLang := index .Site.Data.game .Lang -}}
          {{- with $dataLang.game_lists -}}
          {{- range first 5 (sort . "weight" "asc") -}}
                <div class="list-item padding-_5rem bg-purple border-radius-1rem">
                    {{- $path := .cover -}}
                    {{- $alt := .id -}}
                    <a href="/{{ $lang }}/game/{{- .id | urlize -}}/" class="flex gap-1rem align-items-center">
                      <div class="game-cover border-radius-_5rem">
                        {{ partial "tools/img-res.html" (dict "imagePath" $path "alt" $alt "imageWidth" 20) }}
                      </div>
                      <div class="game-title">
                        {{- .name -}}
                      </div>
                      
                    </a>
    
                </div>
            {{- end -}}
          {{- end -}}
    
      </div>
  
      </div>
  
      <div class="right">
  
      </div>

    </div>
    

  </div>

{{ end }}
