{{ define "main" }}

  {{- /* Get the current language */ -}}
  {{- $lang := .Lang -}}

  <div class="wrap">

    <div class="page_home flex gap-1rem padding-tb-1rem">

      <div class="left flex flex-column gap-1rem">

        {{- /* 签到 */ -}}
        <a href="./my">

          <button class="btn_check_in_today btn_no_hover user_check_in info_icon cursor-pointer shadow-box width-100">
            {{- T "check_in_today" -}}
          </button>

        </a>

        {{- /* Share button */ -}}
        {{- partial "tools/btn_share_site.html" }}

        {{- /* 树洞 - by weight */ -}}
        <div class="topic-recommond shadow-box border-radius-_5rem padding-1rem">
          <a href="/{{- $lang -}}/secret/">
            <div class="font-size-1_5 margin-bottom-1rem color-black">🕯️ {{ T "secret" }}</div>
          </a>
          

          {{- $dataSecret := index .Site.Data.secret .Lang -}}
          {{- with $dataSecret.secret_list -}}
          {{- range first 2 (sort . "weight" "asc") -}}
          <a href="/{{- $lang -}}/secret/{{- .id | urlize -}}/">
            <div class="topic-item flex gap-_5rem align-items-center margin-bottom-1rem bg-color-04 border-radius-_5rem padding-_5rem">
             
              {{- /* Cover image: 5rem for PC, 15rem for clarity - 3x scaling for mobile size */ -}}
              <div class="topic-cover">
                {{- $imagePath := .cover -}}
                {{- $alt := .id -}}
                {{- partial "tools/img-res.html" (dict "imagePath" $imagePath "alt" $alt "imageWidth" 20) }}
              </div>
  
              {{- /* Text part */ -}}
              <div class="topic-text flex flex-column align-items-center justify-content-center">
                {{- /* Title */ -}}
                <div>
                  <p class="font-weight-400 color-black font-size-1_2">
                    {{ .name }}
                  </p>
                </div>
              </div>
              
            </div>
          </a>

          
          {{- end -}}
          {{- end -}}

          <a href="/{{- $lang -}}/secret/">
            <div class="font-size-1_2 text-center">{{ "---" }}{{ T "more" }}{{ "---" }}</div>
          </a>
        </div>

      </div>

      <div class="center flex flex-column gap-1rem">
        <div class="game-lists shadow-box padding-_5rem border-radius-_5rem">

          <a href="/{{- $lang -}}/game/">
            <div class="font-size-1_5 color-black">🕹️ {{ T "game" }}</div>
          </a>

          {{- $dataGame := index .Site.Data.game .Lang -}}
          {{- with $dataGame.game_lists -}}
          {{- range first 5 (sort . "weight" "asc") -}}
          <div class="list-item padding-_5rem bg-purple border-radius-1rem">
            {{- $path := .cover -}}
            {{- $alt := .id -}}
            <a href="/{{- $lang -}}/game/{{- .id | urlize -}}/" class="flex gap-1rem align-items-center">
              <div class="game-cover border-radius-_5rem">
                {{ partial "tools/img-res.html" (dict "imagePath" $path "alt" $alt "imageWidth" 20) }}
              </div>
              <div class="game-title width-50 overflow-hidden">
                {{- .name -}}
              </div>
            </a>
          </div>
          {{- end -}}
          {{- end -}}

          <a href="/{{- $lang -}}/game/">
            <div class="font-size-1_2 text-center">{{ "---" }}{{ T "more" }}{{ "---" }}</div>
          </a>
        </div>
      </div>

      <div class="right flex flex-column gap-1rem">

        {{- /* 幸运 - by weight */ -}}
        <div class="topic-recommond shadow-box border-radius-_5rem padding-1rem">
          <a href="/{{- $lang -}}/luck/">
            <div class="font-size-1_5 margin-bottom-1rem color-black">🍀 {{ T "luck" }}</div>
          </a>
          

          {{- $dataLuck := index .Site.Data.luck .Lang -}}
          {{- with $dataLuck.luck_lists -}}
          {{- range first 5 (sort . "weight" "asc") -}}
          <a href="/{{- $lang -}}/luck/{{- .id | urlize -}}/">
            <div class="topic-item flex gap-_5rem align-items-center margin-bottom-1rem bg-color-01 border-radius-_5rem padding-_5rem">
             
              {{- /* Cover image: 5rem for PC, 15rem for clarity - 3x scaling for mobile size */ -}}
              <div class="topic-cover">
                {{- $imagePath := .cover -}}
                {{- $alt := .id -}}
                {{- partial "tools/img-res.html" (dict "imagePath" $imagePath "alt" $alt "imageWidth" 20) }}
              </div>
  
              {{- /* Text part */ -}}
              <div class="topic-text flex flex-column align-items-center justify-content-center">
                {{- /* Title */ -}}
                <div>
                  <p class="font-weight-400 color-black font-size-1_2">
                    {{ .name }}
                  </p>
                </div>
              </div>
              
            </div>
          </a>

          
          {{- end -}}
          {{- end -}}

          <a href="/{{- $lang -}}/luck/">
            <div class="font-size-1_2 text-center">{{ "---" }}{{ T "more" }}{{ "---" }}</div>
          </a>
        </div>


        {{- /* Recommended reading - by weight */ -}}
        <div class="topic-recommond shadow-box border-radius-_5rem padding-1rem">
          <a href="/{{- $lang -}}/topic/">
            <div class="font-size-1_5 margin-bottom-1rem color-black">🔥 {{ T "hot_posts" }}</div>
          </a>
          
          
          {{- /* Get all posts */ -}}
          {{ $pages := where .Site.RegularPages "Section" "topic" }}
        
          {{- /* Exclude hidden posts */ -}}
          {{- $pages = where $pages ".Params.hide" "!=" true -}}

          {{- range first 5 (sort $pages "Weight" "desc") -}}
          <div class="topic-item flex gap-_5rem align-items-center margin-bottom-1rem">
            {{ with . }}
            {{- /* Cover image: 5rem for PC, 15rem for clarity - 3x scaling for mobile size */ -}}
            <div class="topic-cover">
              {{- $imagePath := .Params.cover -}}
              {{- $alt := "image" -}}
              <a href="{{ .RelPermalink }}">
                {{- partial "tools/img-res.html" (dict "imagePath" $imagePath "alt" $alt "imageWidth" 20) }}
              </a>
            </div>

            {{- /* Text part */ -}}
            <div class="topic-text flex flex-column">
              {{- /* Title, truncated to first 45 characters */ -}}
              <div>
                <a href="{{ .RelPermalink }}" class="font-weight-400 color-black">
                  {{ .Title | truncate 45 }}
                </a>
              </div>
            </div>
            {{ end }}

          </div>
          {{- end -}}

          <a href="/{{- $lang -}}/topic/">
            <div class="font-size-1_2 text-center">{{ "---" }}{{ T "more" }}{{ "---" }}</div>
          </a>
        </div>
      </div>

    </div>

  </div>

{{ end }}
