{{ define "main" }}

{{- /* Get the current language */ -}}
{{- $lang := .Lang -}}



{{- $alt := .Title -}}

<div class="lang_img padding-1rem text-center border-bottom-_1rem">
  {{ partial "tools/img-res.html" (dict "imagePath" "/image/lang/cover.png" "alt" $alt "imageWidth" 20) }}
</div>

<div class="lang_list padding-1rem flex gap-1rem align-items-center">

  {{- $currentLang := .Lang -}}
  {{- with site.Home.AllTranslations -}}
    {{- range . -}}
      {{- if eq $currentLang .Language.LanguageCode -}}
        <div class="font-weight-600 font-size-1_2">{{ .Language.LanguageName }}</div>
      {{- else -}}
        <a class="font-weight-600 font-size-1_2" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{- end -}}
    {{- end -}}
  {{- end -}}

  

</div>




{{ end }}
