{{- define "main" }}

<div class="page_search padding-1rem margin-0-auto">

    <div class="font-size-1_5 margin-bottom-1rem">{{ T "search" }} 🔎</div>

    <div id="searchbox">
        <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"
            aria-label="search" type="search" autocomplete="off" class="padding-_5rem font-size-1_2">
        <ul id="searchResults" aria-label="search results"></ul>
    </div>

    

</div>

{{- /* Google adense shakagame.com-03 */ -}}
<div class="google_ad">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2994572689024438"
        crossorigin="anonymous"></script>
    <!-- shakagame.com-03 -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2994572689024438" data-ad-slot="8776009491"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>


{{- end }}{{/* end main */}}
