{{- define "main" -}}

{{- $fileName := .File.BaseFileName -}}

{{- $lang := .Lang -}}
{{- $dataLang := index .Site.Data.game $lang -}}
{{- $games := $dataLang.game_lists -}}
{{- $luckyWheel := where $games "id" "lucky_wheel" -}}
{{- $tips := (index $luckyWheel 0).tips -}}
{{- $tipsStartGame := (index $luckyWheel 0).tips_start_game -}}
{{- $msg_not_enought_lucky_point := (index $luckyWheel 0).msg_not_enought_lucky_point -}}
{{- $title := (index $luckyWheel 0).name -}}
{{- $kind := (index $luckyWheel 0).kind -}}
{{- $file := where $kind "id" $fileName -}}
{{- $name := (index $file 0).name -}}
{{- $description := (index $file 0).description -}}
{{- $dataContent := (index $file 0).data_content -}}




<div class="wrap">

    <div class="game_lucky_wheel">

        <div class="page_left flex flex-column gap-_5rem align-items-center">

            {{- /* 游戏提示 */ -}}
            <div class="tips_icon_force_close">

                {{- partial "tools/popup_info_btn.html" (dict "infoContent" $tipsStartGame) }}

            </div>

            {{- /* 游戏标题 */ -}}
            <div class="flex align-items-center gap-_5rem padding-tb-1rem">

                <div class="game_title font-size-2">{{ $title }} -  {{ $name }}</div>

            </div>

            {{- /* 描述 */ -}}

            <div class="padding-tb-_5rem font-size-1_2">{{- $description -}}</div>

            {{- /* 扇形内容数据 */ -}}
            <div class="data_content">
              
              {{ range $dataContent }}

                <span>{{ .content }}</span>

              {{ end }}
            </div>


            {{- /* 游戏画面 */ -}}
            <canvas id="canvas" class="cursor-pointer">lucky wheel</canvas>

            <div id="pin" class="pin width-100 text-center font-size-1_5 font-weight-600 bg-color-02 padding-_5rem border-radius-_5rem overflow-hidden"></div>


        </div>

        <div class="page_right flex flex-column gap-1rem">

          {{- /* 类似风格 */ -}}
          <div class="padding-_5rem border-radius-_5rem margin-tb-_5rem bg-white flex flex-wrap gap-_5rem width-100">

            {{ $colorClasses := slice "bg-color-01" "bg-color-02" "bg-color-03" "bg-color-04" }}
            {{ $i := 0 }}

            {{ range (sort $kind "weight" "asc") }}

              {{- if ne .id $fileName -}}

                {{ $colorIndex := mod $i 4 }}

                <a href="../{{- .id -}}" class="{{ index $colorClasses $colorIndex }} padding-tb-_5rem padding-lr-1rem font-size-1_2 border-radius-_5rem">{{ .name }}</a>

                {{ $i = add $i 1 }}

              {{ end }}

            {{ end }}
          </div>


          {{- partial "google_adsense/04.html" }}


          {{- /* 其他游戏 */ -}}

          <div class="padding-_5rem border-radius-_5rem margin-tb-_5rem bg-white flex flex-column gap-_5rem">

              <a href="{{- site.BaseURL -}}{{- $lang -}}/{{- "game" -}}/" class="font-size-1_5 font-weight-600 color-black margin-tb-_5rem">{{ T "you_may_interested" }}</a>
    
              {{- $gameData := index .Site.Data.game $lang -}}
              {{- $gameLists := $gameData.game_lists -}}
    
              {{ $gameid := slice "fruit_slot" "toto_3" "guess_who_win_rock" }}
    
              {{ range $gameid }}
    
                {{ $game := where $gameLists "id" . }}
                {{ $game := index $game 0 }}
    
                {{ with $game }}
                  <div class="flex flex-column gap-_5rem">
    
                    {{- $path := .cover -}}
                    {{- $alt := .id -}}
                    <a href="{{- site.BaseURL -}}{{- $lang -}}/{{- "game" -}}/{{- .id | urlize -}}/" class="flex align-items-center gap-1rem bg-color-03 padding-_5rem border-radius-_5rem">
    
                        <div class="border-radius-_5rem width-50">
    
                          {{ partial "tools/img-res.html" (dict "imagePath" $path "alt" $alt "imageWidth" 20 "class" "width-50 border-radius-_5rem") }}
    
                        </div>
    
                        <div class="game-title color-white width-50 overflow-hidden">
                          {{- .name -}}
                        </div>
      
                    </a>
    
                  </div>
    
                {{ end }}
    
              {{ end }}
    
              
    
          </div>

        </div>



    </div>


    
</div>

{{- end -}}