/* game: horse racing */

body {

}



/* list */
/* list */
/* list */

.horses {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    

    /* 让用户不点击get_it按钮来隐藏popup_box, 不然会直接默认表单提交 */
    .popup_box_content {
        .footer {
            display: none;
        }
    }
}

.horse_img {
    width: 10rem;
    border-radius: 0.5rem;
    vertical-align: middle;
    object-fit: cover;
    transition: all .3s ease;
}

.horse_img:hover {
    transform: scale(1.3);
}


/* list -- end */
/* list -- end */
/* list -- end */


/* bet */
/* bet */
/* bet */

.game_horse_bet,
.game_horse_match,
.game_horse_result {

    display: flex;
    gap: 1rem;
}

.page_bet_left,
.page_match_left,
.page_result_left {

    width: 42rem;
}

.page_bet_right,
.page_match_right,
.page_result_right {

    width: 21rem;
}

input[name=bet_amount] {
    width: 10rem;
}

.horse_img_in_match {
    width: 2rem;
}

/* bet -- end */
/* bet -- end */
/* bet -- end */

/* 每只马的代表色 */
.horse_color {
    border-radius: 50%;
    padding: 0.5rem;
    width: 2rem;
    text-align: center;
}

.horse_color_1 {
    background-color: #FF7EE2;
}
.horse_color_2 {
    background-color: #f6f03a;
}
.horse_color_3 {
    background-color: #EF5A6F;
}
.horse_color_4 {
    background-color: #E8C5E5;
}
.horse_color_5 {
    background-color: #E6B9A6;
}
.horse_color_6 {
    background-color: #00bfff;
}
.horse_color_7 {
    background-color: #FFA823;
}
.horse_color_8 {
    background-color: #36C2CE;
}
.horse_color_9 {
    background-color: #D6EFD8;
}
.horse_color_10 {
    background-color: #96C9F4;
}




/* 匹配中 */
.dot {
    opacity: 0;
    animation: fadeInOut 3s linear infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 1s;
}

.dot:nth-child(3) {
    animation-delay: 2s;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 1;
    }
}

.count_down_circle_item {
    
    visibility: hidden;
}


  



/* 游戏进行中 */

.btn_boost {
    display: none;
}

.game_playing {
    width: 80%;
    margin: 1rem auto;
}

.track {
    width: 100%;
    
}

.lane {
    width: 100%;
    height: 2rem;
    background-color: #4CAF50;
    border: 1px solid #ddd;
    position: relative;
}

.horse_img_in_lane {
    width: 2rem;
    vertical-align: middle;
    /* object-fit: cover; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: left 0.1s linear;
}

.resetTransition {
    transition: none !important;
}

/* 游戏结果 */


.btn_bonus.disabled {
    background-color: grey;
    cursor: not-allowed;
}

.game_horse_result .page_result_right .btn_restart:hover {
    color: white;
}


@media screen and (max-width: 48rem) {

    /* list */
    /* list */
    /* list */

    .horses {
        grid-template-columns: repeat(3, 1fr);  
    }

    .horses label {
        gap: 0.5rem;
    }

    .horse_img {
        width: 5rem;
    }

    /* list -- end */
    /* list -- end */
    /* list -- end */


    /* bet */
    /* bet */
    /* bet */

    .game_horse_bet,
    .game_horse_match,
    .game_horse_result {
        flex-direction: column;
    }

    .page_bet_left,
    .page_bet_right,
    .page_match_left,
    .page_match_right,
    .page_result_left,
    .page_result_right {
        width: 100%;
    }

    



    /* bet -- end */
    /* bet -- end */
    /* bet -- end */

}